src/main/resources/params/schemas/generation/DDI2FRGeneration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    
    <xs:include schemaLocation="Generation.xsd"/>
        
    <xs:complexType name="FrParameters">
        <xs:complexContent>
            <xs:extension base="Generation">
                <xs:sequence>
                    <xs:element name="NumericExample" type="YesNo" default="No"/>
                    <xs:element name="Deblocage" type="xs:boolean" default="false"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:simpleType name="YesNo">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Yes"/>
            <xs:enumeration value="No"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
